@media all and (-ms-high-contrast:none) {
	/* turn off LTR support as it is dependend on CSS properties that aren't supported by IE11 */
	article,
	.toc-wrapper,
	.tags {
		direction: ltr;
	}
	h2, h3, h4, h5, h6 {
		padding-right: 2rem;
	}
	blockquote {
		border-left: 10px solid rgba( 134, 134, 134, .4 );
		padding-left: 0.85rem;
	}
	blockquote cite {
		text-align: right;
	}
	th {
		text-align: left;
	}
	.disableInlineCopyToClipboard span > code.copy-to-clipboard-code {
		border-bottom-right-radius: 2px;
		border-top-right-radius: 2px;
		border-right-width: 1px;
	}
	.anchor {
		margin-left: .66em;
	}
	div.attachments .box-content {
		padding-left: 1.75rem;
	}
	.expand > .expand-label > .expand-rtl.direction-rtl {
		display: none;
	}
	.expand > .expand-label > .expand-ltr.direction-rtl {
		display: inline-block;
	}
	.expand.expand-expanded > .expand-label > .fa-chevron-right {
		display: none;
	}
	#body .tab-nav-button {
		margin-left: 4px;
	}
	#body .tab-nav-button.direction-rtl {
		float: left;
	}
	#body .tab-nav-button:first-child {
		margin-left: 9px;
	}
	.searchform input {
		margin-right: .5rem;
	}
	.autocomplete-suggestion > .context {
		margin-left: 1em;
	}

	.badge > .badge-title {
		border-right: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.badge.badge-with-title > .badge-content {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	article ul li:has(input[type="checkbox"]) {
		margin-left: -1rem;
	}

	/* set default colors as in variant.css for IE11 */
	body {
		background-color: #ffffff; /* var(--MAIN-BG-color) */
		color: #101010; /* var(--MAIN-TEXT-color) */
		font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; /* var(--MAIN-font) */
	}

	.footerVisitedLinks > *,
	a,
	.anchor,
	#toc-menu,
	#body a.highlight:after,
	#searchresults .autocomplete-suggestion {
		color: #486ac9; /* var(--MAIN-LINK-color) */
	}

	a:hover,
	.anchor:hover,
	#toc-menu:hover,
	#body a.highlight:hover:after {
		color: #202891; /* var(--MAIN-LINK-HOVER-color) */
	}

	#sidebar {
		background: #282828; /* var(--MENU-SECTIONS-BG-color) */
	}

	#header-wrapper {
		/* initially use section background to avoid flickering on load when a
		non default variant is active */
		background-color: rgba( 0, 0, 0, 0 ); /* var(--MENU-SECTIONS-BG-color) */
		border-bottom-color: rgba( 0, 0, 0, 0 );  /* var(--MENU-SECTIONS-BG-color) */
		color: #e0e0e0; /* var(--MENU-SEARCH-color) */
	}

	.searchbox {
		border-color: #e0e0e0; /* var(--MENU-SEARCH-BORDER-color) */
		background-color: #323232; /* var(--MENU-SEARCH-BG-color) */
	}

	#sidebar .collapsible-menu .toggle,
	#sidebar .select-container,
	#sidebar a,
	#sidebar button {
		color: #bababa; /* var(--MENU-SECTIONS-LINK-color) */
	}

	#sidebar select:hover,
	#sidebar .collapsible-menu .toggle:hover,
	#sidebar .select-container:hover,
	#sidebar a:hover,
	#sidebar button:hover {
		color: #ffffff; /* var(--MENU-SECTIONS-LINK-HOVER-color) */
	}

	#sidebar ul.topics > li.parent,
	#sidebar ul.topics > li.active {
		background-color: rgba( 0, 0, 0, .166 ); /* var(--MENU-SECTIONS-ACTIVE-BG-color) */
	}

	#sidebar ul.collapsible-menu li.active > .toggle,
	#sidebar ul.topics li.active > a {
		color: #444444; /* var(--MENU-SECTION-ACTIVE-CATEGORY-color) */
	}

	#sidebar ul.topics li.active > a {
		background-color: #ffffff; /* var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color) */
	}

	#sidebar ul li.visited > a .read-icon {
		color: #486ac9; /* var(--MENU-VISITED-color) */
	}

	#sidebar .nav-title {
		color: #ffffff; /* var(--MENU-SECTIONS-LINK-HOVER-color) */
	}

	#sidebar hr {
		border-color: #606060; /* var(--MENU-SECTION-HR-color) */
	}

	#footer {
		color: #bababa; /* var(--MENU-SECTIONS-LINK-color) */
	}

	mark {
		background-color: #ffff00;
	}

	h1 {
		color: #101010; /* var(--MAIN-TEXT-color) */
		font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; /* var(--MAIN-font) */
	}

	h2, h3, .article-subheading, h4, h5, h6 {
		color: #4a4a4a; /* var(--MAIN-TITLES-TEXT-color) */
		font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; /* var(--MAIN-TITLES-TEXT-font) */
	}

	div.box {
		background-color: rgba( 128, 128, 128, 1 ); /* var(--INTERNAL-BOX-NEUTRAL-color) */
	}

	div.box > .box-label {
		color: rgba( 255, 255, 255, 1 ); /* var(--BOX-CAPTION-color) */
	}

	div.box > .box-content {
		background-color: rgba( 255, 255, 255, .833 ); /* var(--BOX-BG-color) */
		color: rgba( 16, 16, 16, 1 ); /* var(--BOX-TEXT-color) */
	}

	div.box.info {
		background-color: rgba( 48, 117, 229, 1 ); /* var(--INTERNAL-BOX-INFO-color) */
	}

	div.box.info > .box-content {
		color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-INFO-TEXT-color) */
	}

	div.box.warning {
		background-color: rgba( 224, 62, 62, 1 ); /* var(--INTERNAL-BOX-WARNING-color) */
	}

	div.box.warning > .box-content {
		color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-WARNING-TEXT-color) */
	}

	div.box.note {
		background-color: rgba( 237, 153, 9, 1 ); /* var(--INTERNAL-BOX-NOTE-color) */
	}

	div.box.note > .box-content {
		color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-NOTE-TEXT-color) */
	}

	div.box.tip {
		background-color: rgba( 42, 178, 24, 1 ); /* var(--INTERNAL-BOX-TIP-color) */
	}

	div.box.tip > .box-content {
		color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-TIP-TEXT-color) */
	}

	div.box.primary {
		background-color: #7dc903; /* var(--INTERNAL-PRIMARY-color) */
	}

	div.box.primary > .box-content {
		color: #101010; /* var(--INTERNAL-MAIN-TEXT-color) */
	}

	div.box.secondary {
		background-color: #486ac9; /* var(--INTERNAL-SECONDARY-color) */
	}

	div.box.secondary > .box-content {
		color: #101010; /* var(--INTERNAL-MAIN-TEXT-color) */
	}

	div.box.blue {
		background-color: rgba( 48, 117, 229, 1 ); /* var(--INTERNAL-BOX-BLUE-color) */
	}

	div.box.blue > .box-content {
		color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-BLUE-TEXT-color) */
	}

	div.box.green {
		background-color: rgba( 42, 178, 24, 1 ); /* var(--INTERNAL-BOX-GREEN-color) */
	}

	div.box.green > .box-content {
		color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-GREEN-TEXT-color) */
	}

	div.box.grey {
		background-color: rgba( 128, 128, 128, 1 ); /* var(--INTERNAL-BOX-GREY-color) */
	}

	div.box.grey > .box-content {
		color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-GREY-TEXT-color) */
	}

	div.box.orange {
		background-color: rgba( 237, 153, 9, 1 ); /* var(--INTERNAL-BOX-ORANGE-color) */
	}

	div.box.orange > .box-content {
		color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-ORANGE-TEXT-color) */
	}

	div.box.red {
		background-color: rgba( 224, 62, 62, 1 ); /* var(--INTERNAL-BOX-RED-color) */
	}

	div.box.red > .box-content {
		color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-RED-TEXT-color) */
	}

	div.box.transparent {
		background-color: transparent;
	}

	div.box.transparent > .box-label {
		color: #4a4a4a; /* var(--MAIN-TITLES-TEXT-color) */
	}

	div.box.transparent > .box-content {
		background-color: transparent;
		color: #101010; /* var(--MAIN-TEXT-color) */
	}

	code,
	kbd,
	pre,
	samp {
		font-family: "Consolas", menlo, monospace; /* var(--CODE-font) */
	}

	code {
		background-color: #fffae9; /* var(--CODE-INLINE-BG-color) */
		border-color: #f8e8c8; /* var(--CODE-INLINE-BORDER-color) */
		color: #5e5e5e; /* var(--CODE-INLINE-color) */
	}

	pre {
		background-color: #f8f8f8; /* var(--CODE-BLOCK-BG-color) */
		border-color: #d8d8d8; /* var(--CODE-BLOCK-BORDER-color) */
		color: #000000; /* var(--CODE-BLOCK-color) */
	}

	table {
		background-color: #ffffff; /* var(--INTERNAL-MAIN-BG-color) */
	}

	div.featherlight .featherlight-content{
		background-color: #ffffff /* var(--INTERNAL-MAIN-BG-color); */
	}

	#topbar {
		background-color: #ffffff; /* var(--MAIN-BG-color) */
	}

	#body a[aria-disabled="true"],
	#searchresults .autocomplete-suggestion > .context {
		color: #101010; /* var(--MAIN-TEXT-color) - inherit is not processed correctly in Chrome */
	}

	.copy-to-clipboard-button {
		background-color: #fffae9; /* var(--CODE-INLINE-BG-color) */
		border-color: #f8e8c8; /* var(--CODE-INLINE-BORDER-color) */
		color: #5e5e5e; /* var(--CODE-INLINE-color) */
		font-family: "Consolas", menlo, monospace; /* var(--CODE-font) */
	}

	.copy-to-clipboard-button:hover {
		background-color: #5e5e5e; /* var(--CODE-INLINE-color) */
		color: #fffae9; /* var(--CODE-INLINE-BG-color) */
	}

	pre .copy-to-clipboard-button {
		border-color: #d8d8d8; /* var(--CODE-BLOCK-BORDER-color) */
		color: #486ac9; /* var(--MAIN-LINK-color) */
	}

	pre .copy-to-clipboard-button:hover {
		background-color: #486ac9; /* var(--MAIN-LINK-color) */
		border-color: #486ac9; /* var(--MAIN-LINK-color) */
		color: #f8f8f8; /* var(--CODE-BLOCK-BG-color) */
	}

	#homelinks {
		background-color: #7dc903; /* var(--MENU-HEADER-BORDER-color) */
		border-color: #7dc903; /* var(--MENU-HEADER-BORDER-color) */
	}

	#homelinks a {
		color: #404040 /* var(--MENU-HOME-LINK-color) */
	}

	#homelinks a:hover {
		color: #808080 /* var(--MENU-HOME-LINK-HOVER-color) */;
	}

	#body a.highlight:after {
		background-color: #486ac9; /* var(--MAIN-LINK-color) */
	}

	#body a.highlight:hover:after {
		background-color: #202891; /* var(--MAIN-LINK-HOVER-color) */
	}

	.progress {
		background-color: #ffffff; /* var(--MAIN-BG-color) */
	}

	.btn {
		background-color: rgba( 128, 128, 128, 1 ); /* var(--BOX-NEUTRAL-color) */
	}

	.btn > * {
		border-color: rgba( 128, 128, 128, 1 ); /* var(--BOX-NEUTRAL-color) */
		color: rgba( 255, 255, 255, 1 ); /* var(--BOX-CAPTION-color) */
	}

	.btn > *:hover,
	.btn > *:focus,
	.btn > *:active {
		background-color: rgba( 255, 255, 255, .833 ); /* var(--BOX-BG-color) */
		color: rgba( 16, 16, 16, 1 ); /* var(--BOX-NEUTRAL-TEXT-color) */
	}

	.btn.cstyle.info {
		background-color: rgba( 48, 117, 229, 1 ); /* var(--BOX-INFO-color) */
	}

	.btn.cstyle.info > * {
		border-color: rgba( 48, 117, 229, 1 ); /* var(--BOX-INFO-color) */
	}

	.btn.cstyle.note {
		background-color: rgba( 237, 153, 9, 1 ); /* var(--BOX-NOTE-color) */
	}

	.btn.cstyle.note > * {
		border-color: rgba( 237, 153, 9, 1 ); /* var(--BOX-NOTE-color) */
	}

	.btn.cstyle.tip {
		background-color: rgba( 42, 178, 24, 1 ); /* var(--BOX-TIP-color) */
	}

	.btn.cstyle.tip > * {
		border-color: rgba( 42, 178, 24, 1 ); /* var(--BOX-TIP-color) */
	}

	.btn.cstyle.warning {
		background-color: rgba( 224, 62, 62, 1 ); /* var(--BOX-WARNING-color) */
	}

	.btn.cstyle.warning > * {
		border-color: rgba( 224, 62, 62, 1 ); /* var(--BOX-WARNING-color) */
	}

	.btn.cstyle.primary {
		background-color: #7dc903; /* var(--PRIMARY-color) */
	}

	.btn.cstyle.primary > * {
		border-color: #7dc903; /* var(--PRIMARY-color) */
	}

	.btn.cstyle.secondary {
		background-color: #486ac9; /* var(--SECONDARY-color) */
	}

	.btn.cstyle.secondary > * {
		border-color: #486ac9; /* var(--SECONDARY-color) */
	}

	.btn.cstyle.blue {
		background-color: rgba( 48, 117, 229, 1 ); /* var(--BOX-BLUE-color) */
	}

	.btn.cstyle.blue > * {
		border-color: rgba( 48, 117, 229, 1 ); /* var(--BOX-BLUE-color) */
	}

	.btn.cstyle.green {
		background-color: rgba( 42, 178, 24, 1 ); /* var(--BOX-GREEN-color) */
	}

	.btn.cstyle.green > * {
		border-color: rgba( 42, 178, 24, 1 ); /* var(--BOX-GREEN-color) */
	}

	.btn.cstyle.grey {
		background-color: rgba( 128, 128, 128, 1 ); /* var(--BOX-GREY-color) */
	}

	.btn.cstyle.grey > * {
		border-color: rgba( 128, 128, 128, 1 ); /* var(--BOX-GREY-color) */
	}

	.btn.cstyle.orange {
		background-color: rgba( 237, 153, 9, 1 ); /* var(--BOX-ORANGE-color) */
	}

	.btn.cstyle.orange > * {
		border-color: rgba( 237, 153, 9, 1 ); /* var(--BOX-ORANGE-color) */
	}

	.btn.cstyle.red {
		background-color: rgba( 224, 62, 62, 1 ); /* var(--BOX-RED-color) */
	}

	.btn.cstyle.red > * {
		border-color: rgba( 224, 62, 62, 1 ); /* var(--BOX-RED-color) */
	}

	.btn.cstyle.transparent {
		background-color: transparent;
		color: #101010; /* var(--MAIN-TEXT-color) */
	}

	.btn.cstyle.transparent:hover,
	.btn.cstyle.transparent:focus,
	.btn.cstyle.transparent:active {
		background-color: rgba( 128, 128, 128, 1 ); /* var(--BOX-NEUTRAL-color) */
	}

	.btn.cstyle.transparent > * {
		color: #4a4a4a; /* var(--MAIN-TITLES-TEXT-color) */
	}

	#body .tags a.tag-link {
		background-color: #7dc903; /* var(--TAG-BG-color) */
		color: #ffffff; /* var(--MAIN-BG-color) */
		margin-right: 16px;
	}

	#body .tags a.tag-link:before {
		border-right-color: #7dc903; /* var(--TAG-BG-color) */
	}

	#body .tags a.tag-link:after {
		background: #ffffff; /* var(--MAIN-BG-color) */
	}

	#body .tab-nav-button.active {
		background-color: #ffffff !important; /* var(--MAIN-BG-color) */
		border-bottom-color: #ffffff !important; /* var(--MAIN-BG-color) */
	}

	.badge > * {
		border-color: rgba( 16, 16, 16, 1 ); /* var(--BOX-TEXT-color) */
	}

	.badge > .badge-content {
		background-color: rgba( 128, 128, 128, 1 ); /* var(--INTERNAL-BOX-NEUTRAL-color) */
		color: rgba( 255, 255, 255, 1 ); /* var(--BOX-CAPTION-color) */
	}

	.badge.info > .badge-content {
		background-color: rgba( 48, 117, 229, 1 ); /* var(--INTERNAL-BOX-INFO-color) */
		color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-INFO-TEXT-color) */
	}

	.badge.warning > .badge-content {
		background-color: rgba( 224, 62, 62, 1 ); /* var(--INTERNAL-BOX-WARNING-color) */
		color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-WARNING-TEXT-color) */
	}

	.badge.note > .badge-content {
		background-color: rgba( 237, 153, 9, 1 ); /* var(--INTERNAL-BOX-NOTE-color) */
		color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-NOTE-TEXT-color) */
	}

	.badge.tip > .badge-content {
		background-color: rgba( 42, 178, 24, 1 ); /* var(--INTERNAL-BOX-TIP-color) */
		color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-TIP-TEXT-color) */
	}

	.badge.primary > .badge-content {
		background-color: #7dc903; /* var(--INTERNAL-PRIMARY-color) */
		color: #101010; /* var(--INTERNAL-MAIN-TEXT-color) */
	}

	.badge.secondary > .badge-content {
		background-color: #486ac9; /* var(--INTERNAL-SECONDARY-color) */
		color: #101010; /* var(--INTERNAL-MAIN-TEXT-color) */
	}

	.badge.blue > .badge-content {
		background-color: rgba( 48, 117, 229, 1 ); /* var(--INTERNAL-BOX-BLUE-color) */
		color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-BLUE-TEXT-color) */
	}

	.badge.green > .badge-content {
		background-color: rgba( 42, 178, 24, 1 ); /* var(--INTERNAL-BOX-GREEN-color) */
		color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-GREEN-TEXT-color) */
	}

	.badge.grey > .badge-content {
		background-color: rgba( 128, 128, 128, 1 ); /* var(--INTERNAL-BOX-GREY-color) */
		color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-GREY-TEXT-color) */
	}

	.badge.orange > .badge-content {
		background-color: rgba( 237, 153, 9, 1 ); /* var(--INTERNAL-BOX-ORANGE-color) */
		color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-ORANGE-TEXT-color) */
	}

	.badge.red > .badge-content {
		background-color: rgba( 224, 62, 62, 1 ); /* var(--INTERNAL-BOX-RED-color) */
		color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-RED-TEXT-color) */
	}

	.badge.transparent > .badge-content {
		background-color: transparent;
		color: #4a4a4a; /* var(--MAIN-TITLES-TEXT-color) */
	}

	article ul li input[type="checkbox"] {
		background-color: #ffffff; /* var(--INTERNAL-MAIN-BG-color); */
		color: #101010; /* var(--INTERNAL-MAIN-TEXT-color) */
	}

	article ul li input[type="checkbox"]::before {
		box-shadow: inset 1em 1em #7dc903; /* var(--INTERNAL-PRIMARY-color) */
	}

	/* set further styles to fix broken stuff in IE11 */

	/* turn off animiation in IE because this causes the menu
    to move in from the left on every page load */
    .default-animation{
        transition: none;
    }

    /* our silly dinosaur browser wants to have the real colors */
    #header-wrapper {
        background-color: #7dc903; /* var(--MENU-HEADER-BG-color) */
        border-bottom-color: #7dc903; /* var(--MENU-HEADER-BORDER-color) */
    }

    /* clears the 'X' from Internet Explorer's search input */
    input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
    input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

    /* turn off variant selector as it uses modern stuff; don't change
    order with block below */
    .showVariantSwitch{
        display: getamodernbrowser;
    }
    /* dumb IE11 doesn't understand initial, so we force a fallback here */
    .showLangSwitch,
    .showVisitedLinks,
    .showFooter {
        display: block;
    }

	.select-style select::-ms-expand {
		/* hide the triangle */
		display: none;
	}

	.searchbox input:-ms-input-placeholder {
		color: rgba( 255, 255, 255, .4 );
		opacity: 1;
	}

	.searchform input:-ms-input-placeholder {
		color: rgba( 134, 134, 134, .666 );
		opacity: 1;
	}
}
