/.idea

# legacy python version
/.pytest_cache
/scripts/deploy.sh
*.pyc
/src/resticprofile.egg-info
/**/.eggs

.DS_Store
/examples/private
/build/restic*
/dist

# binary
/resticprofile
/resticprofile_darwin
/resticprofile_linux
/resticprofile_pi
/resticprofile.exe
/lock/locktest

# test output
/coverage.out

# log files
/*.log

status.json
