/.idea
/.vscode/*log

# legacy python version
/.pytest_cache
/scripts/deploy.sh
*.pyc
/src/resticprofile.egg-info
/**/.eggs

.DS_Store
/examples/private
/build/restic*
/build/rclone*
/dist

# binary
/resticprofile
/resticprofile_darwin
/resticprofile_linux
/resticprofile_pi
*.exe

# test output
/coverage.out

# mocks & mock binaries
mocks
/mock
/echo
/lock/locktest

# test-env
.node-env

# log files
/*.log

status.json
*.prom

# documentation
/docs/content/configuration/reference/index.md
/docs/static/jsonschema
/public
.hugo_build.lock
