name: Rebuild docker image

on:
  schedule:
    - cron: '32 6 * * 0'


jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Checkout latest tag
        run: |
          export LATEST_TAG=`git describe --tags --abbrev=0`
          git checkout $LATEST_TAG

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ~1.23
          check-latest: true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Install eget
        run: go install github.com/zyedidia/eget@latest
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean --config .goreleaser-docker-only.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
