name: documentation

on:
  push:
    tags:
      - 'v*'
  
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ~1.21

      - uses: actions/checkout@v3
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Check configuration snippets in documentation
        run: go run ./config/checkdoc -r docs/content
        shell: bash
        
      - name: Build JSON schema & config reference
        run: make generate-jsonschema generate-config-reference
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build for GitHub Pages
        run: cd docs && hugo --minify --baseURL https://creativeprojects.github.io/resticprofile/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        # if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-docs
          publish_dir: ./public

      - name: Build for pages.dev
        run: |
          cd docs
          sed -i "s/canonifyURLs = true/canonifyURLs = false/g" config.toml
          hugo --minify --baseURL https://resticprofile.creativeprojects.tech/

      - name: Publish to pages.dev
        uses: cloudflare/pages-action@1
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          projectName: 'resticprofile'
          directory: 'public'
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          branch: main